<!DOCTYPE html>
<html lang="en" ng-app="me">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Michael Eisenbraun</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <header class="header">
        <nav class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href=""><span>Michael Eisenbraun</span></a>

            <ul ng-controller="NavCtrl">
                <li ng-class="{'pure-menu-selected': selected == 'projects'}"><a href="#projects" ng-click="goTo('projects')">Projects</a></li>
                <li ng-class="{'pure-menu-selected': selected == 'about'}"><a href="#about" ng-click="goTo('about')">About</a></li>
                <li ng-class="{'pure-menu-selected': selected == 'contact'}"><a href="#contact" ng-click="goTo('contact')">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="intro" class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Michael Eisenbraun <br> 
            Web Development and Design</h1>

            <p class="splash-subhead">
                The Web is ever-changing. You must change with it.
            </p>
        </div>
    </section>
    <section id="projects" class="content-wrapper">
        <article class="content">
            <h2 class="content-head is-center">Projects</h2>
            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-lg-3-5">
                    <img src="img/projects/columns-01.jpg" class="pure-img-responsive rounded-border">
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-lg-2-5 margin-center">
                    <h3 class="content-subhead">Columns</h3>
                    <p>TYPE: <strong>jQuery Plugin</strong></p>
                    <p>A jQuery plugin to create a HTML tables from a JSON data source. It supports paging, searching, sorting, and theming. Columns is flexible and extensible with an API and support for plugins and custom templates.</p>

                    <p><a href="https://github.com/eisenbraun/columns" target="_blank" class="pure-button pure-button-primary">View Project</a></p>
                </div>
            </div>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-lg-3-5">
                    <img src="img/projects/guardian-01.jpg" class="pure-img-responsive rounded-border">
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-lg-2-5 margin-center">
                    <h3 class="content-subhead">Guardian</h3>
                    <p>TYPE: <strong>jQuery Plugin</strong></p>
                    <p>Guardian is a all-purpose form validation jQuery plugin. It was designed to be flexible and easy to extend to meet any need.</p>

                    <p><a href="https://github.com/eisenbraun/guardian" target="_blank" class="pure-button pure-button-primary bottom">View Project</a></p>
                </div>
            </div>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-lg-3-5">
                     <img src="img/projects/nutip-01.jpg" class="pure-img-responsive rounded-border">
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-lg-2-5 margin-center">
                    <h3 class="content-subhead">Nütip</h3>
                    <p>TYPE: <strong>jQuery Plugin</strong></p>
                    <p>A jQuery plugin that provide easy way of providing additional information to your web site.</p>
                    <p><a href="https://github.com/eisenbraun/nutip" target="_blank" class="pure-button pure-button-primary bottom">View Project</a></p>
                </div>
            </div>
        </article>

        <article id="about" class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon">About Me</h2>

                <p>My name is Michael Eisenbraun. I am ambitious, a self starter, a quick to learner and motivated. I have over 8 years of professional experience in web development and design. I specialize in front-end development with knowledge in HTML5, CSS3, SASS, JavaScript, jQuery, AngularJS, Sencha, PHP, CodeIgnitor, and Laravel.</p> 
   
            </div>
        </article>

        <article id="contact" class="content">
            <h2 class="content-head is-center">Contact</h2>

            <div>
                <div class="width-300">
                     <p><a href="mailto:me@michaeleisenbraun.com" class="gray"><img src="img/icon/email-icon-gray.png" class="icon">me@michaeleisenbraun.com</a></p>

                     <p><a href="https://github.com/eisenbraun" target="_blank" class="gray"><img src="img/icon/github-icon-gray.png" class="icon">eisenbraun</a></p>

                     <p><a href="https://twitter.com/thinkinginabox" target="_blank" class="gray"><img src="img/icon/twitter-icon-gray.png" class="icon">thinkinginabox</a></p>
                </div>
            </div>

        </article>

        <footer class="footer l-box is-center">
            &copy; 2014 Michael Eisenbraun
        </footer>

    </section>
  <script src="js/main.js"></script>
</body>
</html>
