/* line 5, ../../../preprocess/scss/corporate/ie.scss */
nav.tabs ol.nav > li > a,
nav.tabs ul.nav > li > a {
  border-color: #f1f1f1; }
  /* line 8, ../../../preprocess/scss/corporate/ie.scss */
  nav.tabs ol.nav > li > a:hover span,
  nav.tabs ul.nav > li > a:hover span {
    border-bottom: 3px solid #4898ed; }
  /* line 13, ../../../preprocess/scss/corporate/ie.scss */
  nav.tabs ol.nav > li > a span,
  nav.tabs ul.nav > li > a span {
    border: none; }
/* line 18, ../../../preprocess/scss/corporate/ie.scss */
nav.tabs ol.nav > li.active > a span,
nav.tabs ul.nav > li.active > a span {
  border-bottom: 3px solid #4898ed; }
/* line 24, ../../../preprocess/scss/corporate/ie.scss */
nav.tabs ol.nav > li.has-flyout:hover > a,
nav.tabs ul.nav > li.has-flyout:hover > a {
  border-color: #b3d1ee; }
/* line 28, ../../../preprocess/scss/corporate/ie.scss */
nav.tabs ol.nav > li.has-flyout:hover.active > a span,
nav.tabs ul.nav > li.has-flyout:hover.active > a span {
  border-bottom: 3px solid #d5d5d5; }

/* line 48, ../../../preprocess/scss/corporate/ie.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  line-height: 45px; }

/** ORIGINAL IE8 STYLES
.ie8 .app-header nav ol.nav > li > a {
	border-color: #c4e2ff;
}

.ie8 .app-header nav ol.nav > li > a span {
	border: none;
}

.ie8 .app-header nav ol.nav > li > a:hover span {
	border-bottom: 3px solid #4898ed;
}

.ie8 .app-header nav ol.nav > li.active > a span {
	border-bottom: 3px solid #4898ed;
}

.ie8 .app-header nav ol.nav > li.has-flyout:hover > a {
  border-color: #b3d1ee;
}

.ie8 .app-header nav li.has-flyout.active:hover > a span {
	border-bottom: 3px solid #d5d5d5;
}
**/
