@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,300);

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.0em;
    font-weight: 100;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 300px;
}

h2 {
    font-size: 2.5em;
    font-weight: 100;
    line-height: 1.3em;
    margin: 0;
    padding: 200px 0 0 0;
    position: relative;
    text-align: center;
}

h3 {
    font-size: 2.0em;
    font-weight: 400;
    line-height: 1.1em;
    margin: 10px 0;
    padding: 0;
}

p {
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
}

a { 
    color: #fff;
    text-decoration: none;
    transition: 2s;
}

nav {
    height: 75px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;

    ul {
        float: right;

        li {
            font-size: 1.2em;
            float: left;
            list-style: none;
            padding: 15px;
        }
    }

    &.gray {
        background: $nav-gray-bg;
        color: $nav-gray-text;
    }

    &.gray-bg { 
        background: $nav-gray-bg;
    }

    &.blue {
        background: transparent;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        color: $nav-blue-text;
    }

    &.blue-bg { 
        background: $nav-blue-bg;
    }

    &.white {
        background: transparent;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        color: $nav-white-text;
    }

    &.white-bg {
        background: $nav-white-bg;
    }

    &.orange {
        background: transparent;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.2);
        color: $nav-orange-text;
    }

    &.orange-bg {
        background: $nav-orange-bg;
    }

    &.red {
        background: $nav-red-bg;
        color: $nav-red-text;
    }
}

section {
    min-height: 600px;
    margin: 0;
    padding: 0 25px;
    position: relative;
    z-index: 2;
    
    article {
        padding: 100px 0 0 0;
        position: relative;
        clear: both;
    }

    aside {
        font-size: 3.5em;
        font-weight: 700;
        height: 200px;
        position: absolute;
        text-align: left;
        top: 300px;
        left: 50px;
        width: 500px;
        z-index: 4;
    }
  
    &.fixed {
        height: 100%;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    &.red {
        background: $red-bg;
        color: $red-text;
    }

    &.placeholder {
        background: transparent;
        height: 600px;
        z-index: 2;
    }

    &.white { 
        background: $white-bg;
        -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.4);
        -moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.4);
        box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.4);
        color: $white-text;
        
    }

     &.orange { 
        background: $orange-bg;
        -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.4);
        -moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.4);
        box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.4);
        color: $orange-text;
    }


    &.blue { 
        background: $blue-bg;
        color: $blue-text;
    }

    &.gray { 
        background: $gray-bg;
        color: $gray-text;
    }
}

footer {
    clear: both;
    padding: 20px;
}

.box { 
    border: 2px solid #999;
    float: left;
    height: 400px;
    margin: 0 30px;
    width: 60%;
}

.details {
    width: 35%;
    float: left;
}

.btn {
    border: 2px solid #999;
    border-radius: 5px;
    color: #666;
    display: block;
    font-size: 1.5em;
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: center;
}


/** UTILITIES */ 
.hidden { 
    display: none; 
}

