/** COLORS **/ 
$blue-bg: #008AB3;
$blue-text: #FFFFFF; 
$blue-callout: darken($blue-bg, 30%);

$orange-bg: #E8930C;
$orange-text: #FFFFFF; 
$orange-callout: darken($orange-bg, 30%); 

$green-bg: #14CC58;
$green-text: #FFFFFF; 
$green-callout: darken($green-bg, 30%);

$purple-bg: #7714CC;
$purple-text: #FFFFFF; 
$purple-callout: darken($purple-bg, 30%);

$red-bg: #CC144B;
$red-text: #FFFFFF; 
$red-callout: darken($red-bg, 30%);

$white-bg: #FFFFFF;
$white-text: #666666;

$gray-bg: #474C51;
$gray-text: #FFFFFF;

$nav-white-bg: rgba(255, 255, 255, 0.9);
$nav-white-text: #666666;
$nav-red-bg: transparent;
$nav-red-text: #FFFFFF;
$nav-blue-bg: transparent;
$nav-blue-text: #FFFFFF;
